.search-box {
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.card-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    color: azure;
    text-align: center;
}

.search-current {
    flex-direction: column;
    justify-content: center;
    color: azure;

}

.forecast-title {
    width: 100%;
    color: azure;
}


@media screen and (max-width: 900px) {
    .card-wrapper {
        flex-direction: column;

    }
}